body{
    margin: auto;
    padding: 0;
    background: -webkit-linear-gradient(rgba(0,5,0,0.4),rgba(0,7,0,0.3)), url("filterimag2.jpg");
    background-position: relative;
    background-size: cover;
    padding: 1em 1em 1em 1em;
    margin:1em 1em 1em 1em;
}
.para{
    text-align: center;
    margin-top: 6em;
    padding-top: 2em;
    background-color: burlywood;
    border-radius: 2em;
    width:60%;
    height: 20em;
    margin-left:16em;
    box-shadow: 3px 5px 3px lightgray;
}
h2{
    max-width: 500px;
    color: burlywood;
    /* margin-top: 36px; */
    margin-left: 500px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
p{
    /* color: rgb(213, 218, 221); */
    color:chocolate;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: serif;
}
.slider{
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 1200px;
    margin-left: 80px;
    margin-top: 100px;
}
@-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1400px;}
    30% {left: 1400px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 2000px;}
    70% {left: 1400px;}
    80% {left: 1200px;}
    90% {left: 500px;}
    100% {left: 100px;}
}
.slide-image{
    width: 3450px;
    height: 500px;
    margin: 5px 0 0 -2300px;
    position: relative;
    opacity:1;
    -webkit-filter:5px;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.img-container{
    width:32%;
    position: relative;
    float: right;
}
.img-resize{
    height: 250px;
}
img{
    border-radius: 2em;
}
.caption{
    color:burlywood;
}
