input:hover,select:hover{
    background-color:linen;
    border:1px solid lightslategrey;
}
input:focus,select:focus{
    outline:none;
}
.column-1{
    float:left;
    width:24%;
}
.column-1{
    height:27.5em;
}
h2{
    font-family:serif;
}
/* .root{
    background-color:grey;
} */
.row{
    margin-top:2em;
}
#h33{
    background-color: #837e7c;
}
.root{
    background-color: #95b9c7;
    border-radius: 8px;
}
.root>h2{
    color:#254117;
}
h3{
    color:#2b1b17;
}
.column-2{
    float:left;
    width:24%;
    margin:auto;
    overflow-wrap: break-word;
}
.containeer-fluid{
    float:left;
    width:48%;
    margin-left:0.3em;
}
#body{
    background-color: lightgray;
}
/* .column-1{
    flex:0 0 auto;
    overflow-y:auto;
} */
.mainsearch{
    margin:4px,4px;
    padding:4px;
    height: 100%;
}
.column-2{
    min-height: 35em;
    max-height:auto;
}
.containeer-fluid{
    min-height: 35em;
    max-height:auto;
}
/* .row:after{
    content:"";
    display:table;
    clear:both;
} */
h2{
    color: black;
}
::-webkit-scrollbar{
        width:15px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.4);
    border-radius:12px;
}
::-webkit-scrollbar-thumb{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.7);
}
option,label{
    color:black;
}
/* .mainsearch{
    height: 520px;
    width:700px;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow:0 0 5px 5px #888;
    box-shadow: 0 0 7px 5px white;
} */
.column-1,.column-2,.containeer-fluid{
    /* border-color:lightgray; */
    border-radius:10px;
}
/* .column-1,.column-2,.containeer-fluid{
    background-image:url("filterimag2.jpg") ;
} */
/* .column-2{
    background: linear-gradient(rgba(0, 0, 5, 0.7),rgba(0,0,1,0.2)), url("filterimag2.jpg");
} */
/* .column-2 {
    background: linear-gradient(rgba(5, 4, 4, 0.3),rgba(0,0,0,0.2)), url("filterimag2.jpg");
    backdrop-filter: blur(5px);
  } */

.column-1,.column-2,.containeer-fluid{
    background-color: whitesmoke;
    border: 3px solid lightslategray;
}
.column-1:hover,.column-2:hover,.containeer-fluid:hover{
    box-shadow: 2px 4px 3px grey; 
}
.column-2{
    margin-left:0.3em;
}
h4{
    color:brown;
}
.inner-d{
    margin-top:1em;
}
/* .column-1{
    background-color: gray;
} */
/* .column-2,.container-fluid{
    background-color:gray;
} */
.inner-b{
    margin-top:1em;
}
#end{
    margin-left:1.3em;
}
.c,.d{
    margin-top:1.5em;
    margin-left: 0.5em;
}
.madya,.madhya1,.madhya2{
    margin-top: 0.5em;
    margin-left: 3.0em;
}
.b{
    margin-top:1em;
    margin-left:0.8em;
}
#filter{
    margin-left: 20em;
    margin-top:1.4em;
}
.f>select{
    margin-left:1.5em;
    margin-top:0.7em;
}
/* .madhya3{
    margin-top:0.5em;
    margin-left:11em;
} */