body {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("bg2.jpg");
    background-position: center;
    background-size: 120vmax;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=text] {
  /* padding: 7px 6px;
  margin: 0 0 25px 57px;
  width: 30%;
  display: inline-block;
  border: 1px solid rgb(243, 218, 218);
  box-sizing: border-box; */
  height:3em;
  width:15em;
  border-radius:12px;
  margin-top: 5em;
  color: black;
  margin-left:6em;
}
input[type=password]{
  /* padding: 7px 6px;
  margin: 0 0 15px 30px;
  width: 30%;
  display: inline-block;
  border: 1px solid rgb(243, 235, 235);
  box-sizing: border-box; */
  height:3em;
  width:15em;
  color: black;
  border-radius:12px;
  margin-top: 5em;
  margin-left:4em;
  position: relative;
bottom: 2em;
}  
#pass
{
  position: relative;
  bottom: 2em;
}
button {
    position: absolute;
  background-color: #4CAF50;
  color: rgba(21, 168, 131, 0.966);
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 50%;
}
button:hover {
  opacity: 0.8;
}
.main{
  max-width: auto;
  max-height: auto;
}
.container {
  padding-left: 100px;
  margin-left: 0em;
  color:rgb(202, 202, 223);
  text-align: left;
  width: 800px;
}
span.psw {
  float: left;
  padding-top: 10px;
}

}
@media screen and (max-width: 300px) {
  span.psw {
     display:block;
     text-decoration-color:rgb(157, 170, 185);
     float: none;
  }
  .cancelbtn {
     width: 30%;
  }
}
.loginbtn {
    color:rgb(198, 214, 195);
  width: 10%;
  padding: 12px 18px;
  background-color: #b18989;
}

