#body{
    background-color:cadetblue;
    /* background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("agr.webp"); */
    background-size: 120vmax;
}
.genn{
    border:3px solid black;
    box-shadow: 0 0 0 1px black;
    height:60%;
}
.general{
    margin-right: 20%;
    margin-left:20%;
}
h4{
    text-align: center;
}
.genn{
    margin-top:7%;
    margin-left:14%;
    /* margin-bottom:5%; */
    margin-right: 14%;
}
.container-0{
    text-align: center;
}
.container-1 input{
    height:3em;
    width:15em;
    border-radius:12px;
    margin-top: 5em;
    margin-left:4em;
    /* background-color: thistle; */
}
.container-2 textarea{
    height:4em;
    width:18em;
    border-radius:12px;
    margin-top:6em;
}
#cont-1{
    margin-left:30em;
}
#cont-1 select{
    /* padding-left:1.3em; */
    height:3em;
    width:14em;
    border-radius:12px;
    margin-top:3.4em;
}
.container-4 select{
    margin-left:4em;
}
/* .container-3 input{
    margin-right:4em;
} */
.container-5 select{
    margin-left:4em;
}
.container-6 select{
    height:3em;
    width:14em;
    border-radius:12px;
}
.container-6{
    margin-top:6em;
    margin-left:18em;
}