<!DOCTYPE html>
<html lang="en">
    <head>
        <meta char set="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static',filename='contactus.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div style="text-align:center">
              <h2>Contact Us</h2>
              <p>Leave us a message....</p>
            </div>
            <div class="row">
              <div class="column">
                <form action="#">
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                  <label for="country">Country</label>
                  <select id="country" name="country">
                    <option value="india" selected>INDIA</option>
                    <!-- <option value="canada">CANADA</option>
                    <option value="usa">USA</option> -->
                  </select>
                  <label for="subject">Subject</label>
                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                  <input type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
    </body>
</html>