<html>
    <head>
        <meta char set="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static',filename='farmer_det.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <h3>Personal Details</h3>
            <hr>
            <div class="main1">
                    <div class="a">
                        <label for="name">Name</label>
                        <input id="name" type="text">
                    </div>
                    <div class="b">
                        <label for="age">Age</label>
                        <input id="age" type="number">
                    </div>
                    <div class="c">
                        <label for="state">State</label>
                        <input id="state" type="text">
                    </div>
            </div>
            <div class="main2">
                <div class="d">
                    <label for="district">District</label>
                    <input id="district" type="text">
                </div>
                <div class="e">
                    <label for="mandal">Mandal</label>
                    <input id="mandal" type="text">
                </div>
            </div>
            <div class="main3">
                <h3>Other Details</h3>
                <hr>
                <div class="ins1">
                    <div class="f">
                        <label for="crop_size">Crop in acres</label>
                        <input id="crop_size" type="number">
                    </div>
                    <div class="g">
                        <label for="place_of_land">Place of crop</label>
                        <input id="place_of_land" type="text">
                    </div>
                    <div class="h">
                        <label for="land_type">Land Type</label>
                        <input id="land_type" type="text">
                    </div>
                </div>
                <div class="ins2">
                    <div class="i">
                        <label for="year1">Year1</label>
                        <input id="year1" type="number">
                    </div>
                    <div class="j">
                        <label for="crop1">Crop1</label>
                        <input id="crop1" type="text">
                    </div>
                    <div class="k">
                        <label for="production1">Production</label>
                        <input id="production1" type="number">
                    </div>
                </div>
                <div class="ins3">
                    <div class="l">
                        <label for="year2">Year2</label>
                        <input id="year2" type="number">
                    </div>
                    <div class="m">
                        <label for="crop2">Crop2</label>
                        <input id="crop2" type="text">
                    </div>
                    <div class="n">
                        <label for="production2">Production</label>
                        <input id="production2" type="number">
                    </div>
                </div>
                <div class="ins4">
                    <div class="o">
                        <label for="year3">Year3</label>
                        <input id="year3" type="number">
                    </div>
                    <div class="p">
                        <label for="crop3">Crop3</label>
                        <input id="crop3" type="text">
                    </div>
                    <div class="q">
                        <label for="production3">Production</label>
                        <input id="production3" type="number">
                    </div>
                </div>
                <div class="r">
                    <label for="this_crop">This type planning for</label>
                    <input id="this_crop" type="text">
                </div>
        </div>
    </body>
</html>
